/********************************
>>>>>>> origin/master
*     SOMMAIRE             *
* INIT               *
* RESET              *
* HEADER             *
* NAV                *
* CONTENT              *
* FOOTER             *
* BTN                *
* LINK               *
* ICONS FA           *
* PANEL              *
* FORM               *
* UTILS              *
*********************************/
/*********************************
*     $INIT                      *
* bleu ciel : #83D2E5            *
* orange: #F15C22                *
* marine: #002D56                *
* text: #424242                  *
* blanc: #fff 
*gris :#90999D                   *
*facebook :<i class="fa fa-facebook-square" aria-hidden="true"></i>                  *
*<i class="fa fa-twitter-square" aria-hidden="true"></i>                  *
*google + :<i class="fa fa-google-plus-square" aria-hidden="true"></i>                  *
*********************************/
/*********************************
*               $RESET           *
*********************************/
html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: -15px 0 0 0 ;
  font-size:16px;
  font-family: 'Roboto Slab', serif;
  background-color: #f1f1f1;
}

article,
aside,
details, /* 1 */
figcaption,
figure,
footer,
header,
main, /* 2 */
menu,
nav,
section,
summary { /* 1 */
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

progress {
  vertical-align: baseline;
}

template, /* 1 */
[hidden] {
  display: none;
}

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
    text-decoration: none;
}

a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

button,
input,
select,
textarea {
  font: inherit; /* 1 */
  margin: 0; /* 2 */
}

optgroup {
  font-weight: bold;
}

button,
input { /* 1 */
  overflow: visible;
}

button,
select { /* 1 */
  text-transform: none;
}

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

.clearfix::before, .clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/*********************************
*     $HEADER                    *
*********************************/
.header {
    background-color: #fff;
    height: 70px;
    line-height: 70px;
    border-bottom: solid 1px #002D56;
    margin: 0;
    padding: 0 1em;
}

.logo {
  height: 70px;
  width: 300px;
  text-decoration: none;
}

.logo > span {
  color: #83D2E5;
  font-size: 2em;
  padding-left: .5em;
  margin: 0;
}

.logo > img {
  height: 70px;
  width: 70px;
  float: left;
}

.header-search {
  line-height: 1.2em;
  padding-top: 1em;
  width: 50%;
}

.header-search > input {
  padding: .5em;
  width: 80%;
  float: left;
}

.header-form-drop {
  top: 70px;
  width: 40%;
}

.content-drop {
  background-color: #fff;
  position: absolute;
  padding: 1em;
  -moz-box-shadow: 0px 5px 10px 0px #656565;
  -webkit-box-shadow: 0px 5px 10px 0px #656565;
  -o-box-shadow: 0px 5px 10px 0px #656565;
  box-shadow: 0px 5px 10px 0px #656565;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=10);
}

/*********************************
*       $NAV                     *
*********************************/
.header-nav li {
    float:left;
    list-style: none;
    padding: 0 1em;
}

.header-nav li a {
    color: #002D56;
    font-weight: bold;
}

/*********************************
*     $CONTENT                   *
*********************************/
h1{
  color: #002D56;
  text-transform: uppercase;
  margin-top:0.5em;
  margin-bottom: 1em;
  padding-bottom: 0.25em;
  display: block;
  font-weight:700;
}

h2{
  color:#90999D;
  font-weight: 400;
}

p{
  font-weight: 350;
  text-align: justify;
}

.wrapper {
  margin: 0 1em;
  padding: 1.5em;
  background-color: #fff;
}


/*********************************
*     $DETAILS                    *
*********************************/

#image-content {
  float: left;
  width: 15%;
}

#movie-resume {
  margin-right: 300px;
  margin-left: 40px;
 
}

 ul#movie-partage {
  margin-left: 1000px;
  margin-top: -50px;

}

#movie-partage li {
  display: inline; 
  font-size: 3em;
}

#movie-partage li a {
  margin-left: 20px;
}

.position {
  margin-right: 10px;
}


/*********************************
*     $FOOTER                    *
*********************************/
.footer {
  padding-bottom: 2em;
  padding-top: 2em;
  background-color: #83D2E5;
}

.footer div {
  width: 33%;
  text-align: center;
  margin: 0;
  display: inline-block;
}

.footer ul {
  list-style: none;
}

.followList li {
  display: inline;
}

.fa-facebook-square:hover {
  color: #3B5998;
}

.fa-twitter-square:hover {
  color: #55acee;
}

.fa-linkedin-square:hover {
  color: #0077b5; 
}

.fa-google-plus-square:hover {
  color: #dc4e41; 
}

.aboutUs, .quickSearch {
  float: right;
}

.aboutUs li, .quickSearch li {
  margin-left: 3em;
  text-align: left;
}

.footer h5 {
  margin: 0;
  font-size: 1.5em;
}

.followList:hover {
  cursor: pointer;
}

.followList i {
  color: #fff;
  margin: 7px 7px;
  font-size: 3em;
}

/*********************************
*       $BTN                     *
*********************************/
.btn{
  background-color: #F15C22;
  color:#fff;
  text-decoration: none;
  padding: .6em .8em;
  border-radius: 6px;
  border:1px solid #fff;
}

.btn:hover{
  background-color: #fff;
  color:#F15C22;
  border:1px solid #F15C22;
}

/*un lien qui ressemble à un bouton background orange*/
.link-btn{
  background-color: #F15C22;
  color:#fff;
  text-decoration: none;
  padding: .6em .8em;
  border-radius: 6px;
  border:1px solid #fff;
}

.link-btn:hover{
  background-color: #fff;
  color:#F15C22;
  border:1px solid #F15C22;
}

/*lien stylisé comme un bouton background bleu*/
.link-btn-bis{
  background-color:#002D56;
  color:#fff;
  text-decoration: none;
  padding: .6em .8em;
  border-radius: 6px;
  border:1px solid #002D56;
}

.link-btn-bis:hover{
  background-color:#83D2E5 ;
  color:#fff;
  border:1px solid #83D2E5 ;
}

/*lien stylisé comme un bouton background bleu*/
.link-btn-ter{
  background-color:#83D2E5;
  color:#fff;
  text-decoration: none;
  padding: .6em .8em;
  border-radius: 6px;
  border:1px solid #83D2E5;
}

.link-btn-ter:hover{
  background-color:#002D56 ;
  color:#fff;
  border:1px solid #002D56 ;
}

/*pour styliser les titres qui sont des link*/
.link-title{
  color:#90999D;
  font-weight: 400;
  text-decoration: none;
}

.link-title:hover{
  text-decoration: underline;
}

.btn-block {
    width: 100%;
    color: #002D56;
    background-color: #83D2E5;
    padding: 1em 0;
    text-align: center;
}
/*********************************
*       $ICONS FA     *
*********************************/

/*ICONES RESEAUX SOCIAUX HORS FOOTER*/
.fa-social{
  font-size: 2.5em;
  color: #83D2E5;
}

.fa-social:hover{
 color: #002D56;
}

.fa-social.fa-facebook-square:hover{
 color: #3b5999;
}

.fa-social.fa-twitter-square:hover{
 color: #55acee;
}

.fa-social.fa-google-plus-square:hover{
 color: #DC4E41;
}
/*********************************
*     $PANEL                     *
*********************************/
.card {
    background-color: #f1f1f1;
    padding: 1em;
    float: left;
    width: 22%;
    height: auto;
}

/*********************************
*      $FORM                     *
*********************************/

/*BASIC FORM : classe à metttre sur balise form*/
.basic-form{
    width: 70%;
    position: relative;
    left: 15%;
    background-color: #90999D;
    padding:1em;
}
.basic-form label{
  display:block;
  padding-bottom: 0.15em;
}

/*la legende c'est le titre du FORM*/
.basic-form legend{
  font-size:1.25em;
  text-align: center;
  text-transform: uppercase; 
  display: block;
  width: 100%; 
}

.basic-form input{
  display: block;
  width:100%;
  margin-bottom: 1em;
}
.basic-form input[type="checkbox"]{
  display: inline;
  width:1em;
  margin-right: 1em;
  text-align: center;
}

.basic-form .checkboxDiv{
  text-align: center;
  padding: 0 0.25em;
}
.basic-form .checkbox{
  display:inline;
}

.basic-form input[type="submit"]{
  display: block;
  width:20%;
  text-align: center;
  margin:0 auto;
  margin-top: 0.5em;
  background-color: #fff;
  border:2px solid #F15C22;
  color:#F15C22;
  border-radius: 6px;
  font-weight: 700;
}

.basic-form input[type="submit"]:hover{
 
  background-color: #F15C22;
  border:2px solid #F15C22;
  color:black;
  font-weight: 400;
}


/*********************************
*       $UTILS                   *
*********************************/
.left {
  float: left;
}

.right {
  float: right;
}

.hide {
  display: none;
}

